{% extends "FinancesAccountBundle::base.html.twig" %}

{% block title %}Graphs{% endblock %}

{% block body %}

{% block top %}
    {{ parent() }}
{% endblock %}

<div id="graph" style="width:100%;height:900px"></div>

<script type="text/javascript">
$(document).ready(function() {
    var expenditures = [
        {% for entry in entries %}
        [(new Date("{{ entry.date }}")).getTime(), {{ -entry.amount }}],
        {% endfor %}
    ];

    var balance = [
        {% for entry in entries %}
        [(new Date("{{ entry.date }}")).getTime(), {{ entry.lastCredit }}],
        {% endfor %}
    ];

    var series = new Array();
    series.push({label: "Expenditures", data: expenditures});
    {% if not activeFilters %}
    series.push({label: "Account balance", data: balance});
    {% endif %}

    var options = {
        xaxis: {
            mode: "time",
            minTickSize: [1, "day"]
        },
        yaxis: {
            min: 0
        }
    }

    var placeholder = $('#graph');
    var plot = $.plot(placeholder, series, options);

    var o;
    {% for entry in entries %}
        {% if -entry.amount > 100 %}
            o = plot.pointOffset({ x: (new Date("{{ entry.date }}")).getTime(), y: {{ -entry.amount }}});
            placeholder.append(
                '<div style="position:absolute;left:'+(o.left-2)+'px;top:'+(o.top)+'px;color:black;border:1px black solid;width:4px;height:4px;font-size:smaller">&nbsp;</div>'+
                '<div style="position:absolute;left:'+(o.left-6)+'px;top:'+(o.top-20)+'px;color:#666;font-size:smaller">{{ entry.description|slice(0,15) }}...</div>'
            ); 
        {% endif %}
    {% endfor %}
});
</script>
{% endblock %}
