{% extends "FinancesAccountBundle::base.html.twig" %}

{% block top %}{% endblock %}
{% block body %}
<div style="padding-top: 30px">
    <table>
    <thead>
        <th>Date</th>
        <th>Description</th>
        <th>Before</th>
        <th>Amount</th>
        <th>Then</th>
    </thead>
    {% for entry in entries %}
        <tr>
            <td>{{ entry.date }}</td>
            <td>{{ entry.description }}</td>
            <td>{{ entry.currentCredit }}</td>
            {% if entry.amount < 0 %}
            <td style="color:red">
            {% else %}
            <td style="color:green">
            {% endif %}
            {{ entry.amount }}</td>
            <td>{{ entry.lastCredit }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
